*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}


body{
    background:#eaeded;
}


header{
    height:70px;
    background:#131921;
    color:white;
    display:flex;
    align-items:center;
    gap:20px;
    padding:10px 30px;
}


.logo{
    font-size:30px;
    font-weight:bold;
    color:#ff9900;
}


input{
    flex:1;
    padding:12px;
    border-radius:5px;
    border:none;
}


header button{
    padding:12px;
    background:#febd69;
    border:none;
}


.cart{
    font-size:18px;
}



nav{
    background:#232f3e;
    color:white;
    padding:15px;
}


nav span{
    margin:20px;
}


.banner{
    height:250px;
    background:white;
    text-align:center;
    padding-top:80px;
}


.products{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}


.card{
    background:white;
    width:250px;
    padding:20px;
    text-align:center;
    border-radius:10px;
}


.card img{
    width:200px;
}


.card button{
    background:#ffd814;
    border:none;
    padding:10px;
    margin-top:10px;
    border-radius:20px;
}


.card button:hover{
    background:#f7ca00;
}


footer{
    background:#131921;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}